<div class="search-results card-deck justify-content-center align-items-center flex-wrap">
  <% if @search != [] %>
    <% @search.each do |result| %>
      <%= render './shared/userthumb', user: result %>
    <% end %>
  <% else %>
    <p>
      No results found
    </p>
  <% end %>
</div>