<h1><%= @therapist.user.first_name %> <%= @therapist.user.last_name %></h1>

<h3>Specialties</h3>
<ul>
  <% @therapist.specialties.each do |specialty| %>
    <li><%= specialty.name %></li>
  <% end %>
</ul>

<h3>About Me</h3>
<%=  @therapist.about_me %>