.calendar-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5px;

  .calendar-title {
    font-weight: 500;
    margin: 0 8px;
  }

  a:hover {
    text-decoration: none;
  }
}

td a {
  color: $umbo_text;

  &:hover {
    color: $umbo_text;
  }
}

td.day {
  padding: 2px;

  &:hover {
    cursor: pointer;
  }
}

td .available,
.available-time-grid .available {
  padding: 0.75em;
  background-color: lightgreen;
}

td .unavailable,
.available-time-grid .unavailable {
  padding: 0.75em;
  background-color: lightcoral;
}

.available-time-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1175px;
  max-width: 90vw;
  height: 480px;
  margin: 0 auto;
  overflow-x: scroll;

  a {
    color: black;
  }
}