.navbar-brand img {
  height: 50px;
}

.topbar-right a {
  color:#22A1DD;
  padding-left: 30px;
  padding-right: 30px;
}
.topbar-right a:hover {
  text-decoration: none;
}

.navbar.navbar-default {
  background-color:#E5E5E5;
}
.btn.btn-default.navbar-btn{
  background-color: #22A1DD;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align:baseline;
}

.topbar-right{
  float:right;
}