// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5px;

  .calendar-title {
    font-weight: 500;
    margin: 0 8px;
  }

  a:hover {
    text-decoration: none;
  }
}