<div class="container mx-auto">
  <h1 class="text-center mb-4">Please Select a Day</h1>

  <div class="row">
    <div class="col-lg">
      <%= month_calendar do |date| %>
        <%= link_to therapist_time_select_path(@therapist, date: date) do %>
          <% if @unavailable_days.include?(date) || date < Time.now.to_date %>
            <div class="unavailable">
          <%else %>
            <div class="available">
          <% end %>
            <%= date.day %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>